@font-face {
    font-family: "IRANSans";
    src: url("/font/IRANSansWeb.eot");
    src: url("/font/IRANSansWeb.eot?#iefix") format("embedded-opentype");
    src: url("/font/IRANSansWeb.woff") format("woff");
    src: url("/font/IRANSansWeb.woff2") format("woff2");
    src: url("/font/IRANSansWeb.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
