//************ all of variables like colors & ... ***********
$mainColor: #2c3e50;
$tdBorder: #dddddd;
$trEvenChild: #efefef;
$inputBg: #e8eeef;
$filterBtnBg: #FCD504;
$filterBtnColor: #1B1700;
$paginationBtnBg: #FCD504;
$paginationBtnActiveBg: #bfa203;
$paginationBtnBorder: #1B1700;
$paginationBtnColor: #1B1700;
